/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------------------------------------------- */

:root {
  --bg-color:  rgb(164, 214, 106);
}

html {
    /* background-color: rgb(201, 233, 180); */
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

.container {
    /* background-color: rgb(164, 214, 106); */
    background-color: rgb(201, 233, 180);
    width: 60vw;
    height: 100vh;
    margin: auto;
}
/* heading */
.heading {
    display: flex;
    justify-content: space-between;
    padding: 3vh 2vw 3vh 5vw;
    border-bottom: 1.5vh solid var(--bg-color);
}

.add {
    width: 5vh;
    height: 5vh;
    line-height: 1;
    padding: 0;
    border: none;
    outline: none;
    font-size: 4rem;
    cursor: pointer;
    background-color: rgb(105, 155, 48);
    color: rgb(217, 243, 200);
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 3.5px .1px rgb(64, 90, 60);
}

.add:hover {
    transform: scale(1.2);
    transition: all .2s;
}

.add-form {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.display-off {
  display: none;
}
.add-form input {
  width: 50%;
  height: 10vh;
  font-size: 4rem;
  margin-top: 40vh;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  outline: none;
}


h1 {
  letter-spacing: .4rem;
  font-weight: 700;
  color:  rgb(96, 128, 61);
}
/* heading */
/* controls */
.controls {
  display: flex;
  justify-content: space-between;
}
.controls-display {
  display: flex;
}
.display-buttons {
  height: fit-content;
  width: fit-content;
  border: none;
  outline: none;
  cursor: pointer;
}

.display-buttons-active {
background-color: green;
}
/* controls */

