/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  height: fit-content;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------------------------------------------------- */

:root {
  --bg-color:  rgb(164, 214, 106);
}

html {
    /* background-color: rgb(201, 233, 180); */
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

.container {
    /* background-color: rgb(164, 214, 106); */
    background-color: rgb(201, 233, 180);
    width: 50vw;
    min-height: 100vh;
    padding-bottom: 2vh;
    height: fit-content;
    margin: auto;
}
/* heading */
.heading {
    display: flex;
    justify-content: space-between;
    padding: 3vh 2vw 3vh 5vw;
    border-bottom: 1.5vh solid var(--bg-color);
}

.add {
    width: 3rem;
    height: 3rem;
    line-height: 1;
    padding: 0;
    border: none;
    outline: none;
    font-size: 4rem;
    cursor: pointer;
    background-color: rgb(105, 155, 48);
    color: rgb(217, 243, 200);
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 3.5px .1px rgb(64, 90, 60);
}

.add:hover {
    transform: scale(1.2);
    transition: all .2s;
}

.add-form {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.add-form input {
  width: 50%;
  height: 10vh;
  font-size: 4rem;
  margin-top: 40vh;
  background-color: rgba(0, 0, 0, 0);
  border-radius: .5;
  color: white;
  border: none;
  outline: none;
}


h1 {
  letter-spacing: .4rem;
  font-weight: 700;
  color:  rgb(96, 128, 61);
}
/* heading */
/* controls */
.controls {
  display: flex;
  justify-content: space-between;
}
.controls-display {
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgb(164 214 106);
}
.display-buttons {
  background-color: inherit;
  color: rgb(96, 128, 61);
  font-weight: 700;
  letter-spacing: .1rem;
  width: 20%;
  height: fit-content;
  border: none;
  outline: none;
  cursor: pointer;
  border-right: 1px solid rgb(164 214 106);
}
.controls-display button:last-child {
  border: none;
}

.display-buttons-active {
background-color: green;
}
/* controls */

.task {
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1;
  justify-content: flex-end;
  margin: 2vh 2vw 0 2vw;
  padding: 2vh 2vw 2vh 2vh;
  border-radius: 10px;
  height: fit-content;
}

.container-name-and-btns {
  width: 100%;
  display: flex;
}

.task-name {
  min-width: 0;
  margin: 0 2vh 0 1vh;
  flex: 1 1 auto;
  width: 80%;
  max-width: 80%;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(54, 73, 33);
  font-weight: 600;
}
.task-name:focus {
  outline-color:  rgb(201, 233, 180);
  outline-style: solid;
}

.complete-button, .edit-button {
  cursor: pointer;
  width: 3rem;
  flex: 0 0 auto;
}
.complete-button, .edit-button {
  color: rgb(30, 65, 20);
  line-height: 0;
  font-size: 3rem;
  letter-spacing: 0;
  background-color: inherit;
  border: none;
  outline: none;
}

.edit-button {
  font-size: 2.3rem;
}


.config {
  display: flex;
  justify-content: space-between;
  width: 100%;

  min-width: 0;
  height: fit-content;
  background-color: var(--bg-color);
  margin: 2vh 2vw 1vh 1vw;
}


.date-priority-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: space-evenly;
}
.date-priority-container:nth-child(1) {
  display: inline;
}



.dates {
  min-width: 0;
  flex-grow: 1;

}

.config textarea {
  min-width: 0;
  resize: none;
  flex-grow: 1;
  margin-right: 3vw;
  min-height: 15vh;
}

.empty-list {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-list-ban-sign {
  font-size: 170px;
  margin-bottom: 4vh;
  color: rgb(96, 128, 61);
}

.empty-list p {
  color: rgb(96, 128, 61);
  font-size: 2rem;
  width: 70%;
  text-align: center;
}



.display-off {
  display: none;
}


@media (max-width: 830px) {
  .config {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .task-name {
    max-width: 100%;
    width: 100%;
  }
  .container {
    width: 70%;
  }
  .label-priority, .label-date {
    margin-top: 1vh;
  }
}

@media (max-width: 650px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .display-buttons {
    font-size: .8rem;
  }
  .edit-button {
    font-size: 2rem;
  }
  .add {
    margin-right: 2vh;
  }
}

@media (max-width: 320px) {
  .display-buttons {
    font-size: .65rem;
  }
  h1 {
    font-size: 1.4rem;
  }
}


@media (min-height: 1200px) {
  .container {
    width: 70%;
  }
}
